.web-title {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 16px;
	color: #fff;
	z-index: 99;
	text-shadow: 1px 1px 5px #000;
	display: flex;
	align-items: center;
	&:before {
		content: "";
		width: 46px;
		height: 46px;
		background-image: url("./img/logo.png");
		background-size: cover;
		display: inline-block;
	}
}
.map-wrap {
	width: 100vw;
	height: 100vh;
	position: relative;
}
#map {
	width: 100%;
	height: 100%;
	position: relative;
}
.control {
	&-toggle {
		position: fixed;
		top: 10px;
		right: 10px;
		padding: 8px;
		background-color: #000;
		z-index: 99;
		box-sizing: content-box;
		border-radius: 4px;
		cursor: pointer;
		span {
			display: block;
			background-color: #fff;
			width: 22px;
			height: 3px;
			margin-bottom: 4px;
			@include media {
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.control {
	position: fixed;
	top: 56px;
	right: 10px;
	z-index: 99;
	background-color: $bg;
	min-width: 320px;
	font-size: 14px;
	border-radius: 8px;
	overflow: hidden;
	&.layer {
		@media screen and (min-width: 768px) and (max-height: 700px) {
			height: 100%;
			max-height: calc(100% - 320px);
		}
		@include media {
			max-height: none;
			height: auto;
		}
	}
	@include media {
		display: none;
		min-width: auto;
		max-width: none;
		width: calc(100vw - 20px);
	}
	&-tab {
		list-style: none;
		background-color: $tabBg;
		color: $tabFz;
		font-size: 0;
		&__li {
			display: inline-block;
			padding: 8px 16px;
			position: relative;
			font-size: 14px;
			cursor: pointer;
			@include media {
				padding: vw(8) vw(16);
			}
			&.active {
				// background-color: #976d0d;
				background-color: $bg;
				text-shadow: 1px 1px 5px #000;
				@include media {
				}
			}
		}
		&__layer {
		}
		&__search {
		}
	}
	&-content {
		position: relative;
		height: 100%;
		// background-color: $bg;
		@media screen and (min-width: 768px) and (max-height: 700px) {
			max-height: calc(100% - 51px);
		}
		@include media {
			max-height: none;
		}
	}
}
.tab {
	&-ul {
		list-style: none;
		color: $subTabFz;
		width: 80px;
		border-right: 1px dotted $borderRight;
		flex-shrink: 0;
		@include media {
			width: 100%;
			display: flex;
			border-right: none;
			border-bottom: 1px dotted $borderRight;
			overflow-x: auto;
		}
	}
	&-li {
		padding: 4px 0;
		cursor: pointer;
		@include media {
			padding: 8px 0;
			flex-shrink: 0;
			margin-right: 6px;
			&:last-child {
				margin-right: 0;
			}
		}
		&.active {
			color: $subTabFzActive;
		}
	}
}
.content {
	&-box {
		padding: 8px;
		display: flex;
		height: 100%;
		display: none;
		@include media {
			flex-direction: column;
		}
		&.on {
			display: flex;
		}
		&__inner {
			min-width: 260px;
			padding-left: 8px;
			display: none;
			flex: 1;
			@include media {
			}
			&.on {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
.layer {
	&-collapse {
		&__toggle {
			cursor: pointer;
			display: block;
			width: 18px;
			height: 18px;
			background-color: rgba(0, 0, 0, 0.5);
			font-size: 0;
			border-radius: 4px;
			position: relative;
			&:before {
				content: "";
				width: 10px;
				height: 2px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: #fff;
			}
			&:after {
				content: "";
				width: 2px;
				height: 10px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: #fff;
			}
			&.on {
				&:after {
					content: none;
				}
			}
		}
		&__content {
			height: 0;
			overflow: hidden;
			&.on {
				height: auto;
			}
		}
	}
	&-box {
		// height: 100%;
		// max-height: calc(100% - 51px);
	}
	&-row {
		display: grid;
		grid-template-columns: 1fr 60px 60px;
		@include media {
		}
	}
	&-col {
		padding: 4px 0;
		color: $fz;
		display: flex;
		@include media {
		}
		&:nth-child(2) {
			text-align: center;
			justify-content: center;
			align-items: center;
		}
		&:nth-child(3) {
			text-align: center;
			justify-content: center;
			align-items: center;
		}
	}
	&-checkbox {
		&__label {
			position: relative;
			display: inline-block;
			width: calc(100% - 18px);
			height: 18px;
			cursor: pointer;
			@include media {
			}
		}
		&__input {
			display: none;
			&:checked {
				& + .layer-checkbox__style {
					background-color: $checkBoxBgChecked;
					&:before {
						background-color: $checkBoxPointChecked;
						transform: translateX(24px);
						@include media {
						}
					}
				}
			}
		}
		&__style {
			display: inline-block;
			width: 100%;
			height: 100%;
			border-radius: 26px;
			background-color: $checkBoxBg;
			position: relative;
			transition: all 0.3s;
			@include media {
			}
			&:before {
				content: "";
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background-color: $checkBoxPoint;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -8px;
				transform: translateX(2px);
				transition: all 0.3s;
				@include media {
				}
			}
		}
	}
	&-style {
		width: calc(100% - 18px);
		height: 18px;
		display: inline-block;
		@include media {
		}
		&--border {
			border: 3px solid #fff;
			background-color: transparent !important;
			@include media {
			}
		}
		&--line {
			height: 4px;
			@include media {
			}
		}
		&--circle {
			width: 18px;
			border-radius: 50%;
			@include media {
			}
		}
		&--dashed {
			border-bottom: 3px dashed #fff;
			background-color: transparent !important;
			// background: linear-gradient(90deg, rgba(0, 153, 68, 0.5) 0, rgba(0, 153, 68, 0.5) 25%, transparent 25%, transparent 50%, rgba(0, 153, 68, 0.5) 50%, rgba(0, 153, 68, 0.5) 75%, transparent 75%, transparent);
		}
	}
}
.search {
	&-box {
	}
	&-row {
		margin-bottom: 4px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-title {
		display: block;
		color: $searchTitle;
		padding: 4px 0;
		@include media {
		}
		span {
			display: block;
		}
	}
	&-input {
		background-color: $inputBg;
		border: 1px solid $inputBorder;
		border-radius: 6px;
		min-height: 28px;
		padding-left: 4px;
		width: 100%;
		@include media {
		}
	}
	&-btn {
		background-color: $btnBg;
		color: #fff;
		border: none;
		border-radius: 6px;
		padding: 8px 24px;
		line-height: 1;
		align-self: center;
		margin-top: auto;
		cursor: pointer;
		@include media {
		}
	}
}
.pl {
	padding-left: 28px;
	@include media {
	}
}

.mCSB_inside > .mCSB_container {
	margin-right: 0;
}
.red {
	$color: red;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.green {
	$color: green;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.dark-green {
	$color: darkgreen;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.blue {
	$color: blue;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.yellow {
	$color: yellow;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.orange {
	$color: orange;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.gray {
	$color: gray;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.purple {
	$color: purple;
	color: $color;
	background-color: $color;
	border-color: $color;
}

.sky-blue {
	$color: $skyBlue;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.blue-blue {
	$color: $blueBlue;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.pink-purple {
	$color: $pinkPurple;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.jungle-green {
	$color: $blueBlue;
	color: $color;
	background-color: $color;
	border-color: $color;
}
