.menu {
	&-open {
		position: fixed;
		top: 10px;
		left: 10px;
		padding: 8px;
		background-color: #000;
		z-index: 99;
		box-sizing: content-box;
		border-radius: 4px;
		cursor: pointer;
		@include media {
		}
		span {
			display: block;
			background-color: #fff;
			width: 22px;
			height: 3px;
			margin-bottom: 4px;
			@include media {
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	min-width: 320px;
	height: 100vh;
	background-color: #fff;
	transform: translateX(-100%);
	transition: all 0.3s;
	&.show {
		transform: translateX(0%);
	}
	&-close {
		width: 40px;
		height: 40px;
		position: relative;
		margin: 16px 0 4px 22px;
		cursor: pointer;
		span {
			display: block;
			background-color: #000;
			width: 22px;
			height: 3px;
			margin-bottom: 4px;
			position: absolute;
			top: 50%;
			left: 50%;
			@include media {
			}
			&:first-child {
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&:last-child {
				transform: translate(-50%, -50%) rotate(-45deg);
				margin-bottom: 0;
			}
		}
	}
	&-title {
		padding: 8px 22px;
		position: relative;
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(#ddd, 1);
		&:before {
			content: "";
			width: 46px;
			height: 46px;
			background-image: url("./img/logo.png");
			background-size: cover;
			display: inline-block;
		}
	}
	&-ul {
		list-style: none;
	}
	&-li {
		padding: 8px 22px;
		border-bottom: 1px solid rgba(#ddd, 0.7);
		&:hover {
			background-color: rgba(#ddd, 0.5);
			.menu-li__icon {
				&:after {
					content: "";
					width: 8px;
					height: 8px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					border-radius: 50%;
					background: rgba(#000, 0.7);
				}
			}
		}
		&__link {
			color: #000;
			text-decoration: none;
			font-weight: bold;
			font-size: 14px;
			display: flex;
			width: 100%;
			align-items: center;
		}
		&__icon {
			display: inline-block;
			flex-shrink: 0;
			width: 46px;
			height: 26px;
			position: relative;
			&:before {
				content: "";
				width: 16px;
				height: 16px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				border: 2px solid rgba(#000, 0.5);
			}
		}
		&__text {
			display: inline-block;
			margin-left: 8px;
			width: 100%;
		}
	}
}
