@function strip-unit($number) {
	@if type-of($number) == "number" and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}
@function rem($size, $fontSize: 16, $zoom: 1) {
	@return (strip-unit($size) / $fontSize * $zoom * 1rem);
}
@function vw($size, $breakpoint: 768) {
	// @return calc($size / $breakpoint * 100vw);
	@return calc($size * 1px);
}
@mixin media($breakpoint: 768px) {
	@media screen and (max-width: $breakpoint) {
		@content;
	}
}
$bg: rgba(0, 0, 0, 0.7);
$tabBg: rgba(#292b33, 1);
$tabFz: #fff;
$subTabFz: #fce563;
$subTabFzActive: #fff;
$borderRight: #fff;
$fz: #fff;
$checkBoxBg: #fff;
$checkBoxPoint: #4472c4;
$checkBoxBgChecked: #0e8e00;
$checkBoxPointChecked: #fff;
$inputBg: #fff;
$inputBorder: #ccc;
$searchTitle: #fff;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.map-wrap {
	width: 100vw;
	height: 100vh;
	position: relative;
}
#map {
	width: 100%;
	height: 100%;
	position: relative;
}
.control {
	&-toggle {
		position: fixed;
		top: 66px;
		right: 10px;
		padding: 8px;
		background-color: #000;
		z-index: 99;
		box-sizing: content-box;
		border-radius: 4px;
		cursor: pointer;
		display: none;
		@include media {
			display: block;
			top: vw(66);
			right: vw(10);
			padding: vw(8);
			border-radius: vw(4);
		}
		span {
			display: block;
			background-color: #fff;
			width: 22px;
			height: 3px;
			margin-bottom: 4px;
			@include media {
				width: vw(22);
				height: vw(3);
				margin-bottom: vw(4);
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.control {
	position: fixed;
	top: 66px;
	right: 10px;
	z-index: 99;
	background-color: $bg;
	min-width: 320px;
	font-size: 14px;
	border-radius: 8px;
	overflow: hidden;
	&.layer {
		@media screen and (min-width: 768px) and (max-height: 700px) {
			height: 100%;
			max-height: calc(100% - 320px);
		}
		@include media {
			max-height: none;
			height: auto;
		}
	}
	@include media {
		top: vw(106);
		right: vw(10);
		display: none;
		min-width: auto;
		max-width: none;
		width: calc(100vw - 20px);
		font-size: vw(14);
		border-radius: vw(8);
	}
	&-tab {
		list-style: none;
		background-color: $tabBg;
		color: $tabFz;
		font-size: 0;
		&__li {
			display: inline-block;
			padding: 8px 16px;
			position: relative;
			font-size: 14px;
			cursor: pointer;
			@include media {
				padding: vw(8) vw(16);
			}
			&.active {
				// background-color: #976d0d;
				background-color: $bg;
				text-shadow: 1px 1px 5px #000;
				@include media {
					text-shadow: 1px 1px vw(5) #000;
				}
			}
		}
		&__layer {
		}
		&__search {
		}
	}
	&-content {
		position: relative;
		height: 100%;
		// background-color: $bg;
		@media screen and (min-width: 768px) and (max-height: 700px) {
			max-height: calc(100% - 51px);
		}
		@include media {
			max-height: none;
		}
	}
}
.tab {
	&-ul {
		list-style: none;
		color: $subTabFz;
		width: 80px;
		border-right: 1px dotted $borderRight;
		flex-shrink: 0;
		@include media {
			width: 100%;
			display: flex;
			border-right: none;
			border-bottom: 1px dotted $borderRight;
			overflow-x: auto;
		}
	}
	&-li {
		padding: 4px 0;
		cursor: pointer;
		@include media {
			padding: 8px 0;
			flex-shrink: 0;
			margin-right: 6px;
			&:last-child {
				margin-right: 0;
			}
		}
		&.active {
			color: $subTabFzActive;
		}
	}
}
.content {
	&-box {
		padding: 8px;
		display: flex;
		height: 100%;
		display: none;
		@include media {
			padding: vw(8);
			flex-direction: column;
		}
		&.on {
			display: flex;
		}
		&__inner {
			min-width: 260px;
			padding-left: 8px;
			display: none;
			flex: 1;
			@include media {
				min-width: vw(250);
				padding-left: vw(8);
			}
			&.on {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
.layer {
	&-box {
		// height: 100%;
		// max-height: calc(100% - 51px);
	}
	&-row {
		display: grid;
		grid-template-columns: 1fr 60px 60px;
		@include media {
			grid-template-columns: 1fr vw(60) vw(60);
		}
	}
	&-col {
		padding: 4px 0;
		color: $fz;
		display: flex;
		@include media {
			padding: vw(4) 0;
		}
		&:nth-child(2) {
			text-align: center;
			justify-content: center;
			align-items: center;
		}
		&:nth-child(3) {
			text-align: center;
			justify-content: center;
			align-items: center;
		}
	}
	&-checkbox {
		&__label {
			position: relative;
			display: inline-block;
			width: calc(100% - 18px);
			height: 18px;
			cursor: pointer;
			@include media {
				width: calc(100% - vw(18));
				height: vw(18);
			}
		}
		&__input {
			display: none;
			&:checked {
				& + .layer-checkbox__style {
					background-color: $checkBoxBgChecked;
					&:before {
						background-color: $checkBoxPointChecked;
						transform: translateX(24px);
						@include media {
							transform: translateX(vw(24));
						}
					}
				}
			}
		}
		&__style {
			display: inline-block;
			width: 100%;
			height: 100%;
			border-radius: 26px;
			background-color: $checkBoxBg;
			position: relative;
			transition: all 0.3s;
			@include media {
				border-radius: vw(26);
			}
			&:before {
				content: "";
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background-color: $checkBoxPoint;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -8px;
				transform: translateX(2px);
				transition: all 0.3s;
				@include media {
					width: vw(16);
					height: vw(16);
					margin-top: vw(-8);
					transform: translateX(vw(2));
				}
			}
		}
	}
	&-style {
		width: calc(100% - 18px);
		height: 18px;
		display: inline-block;
		@include media {
			width: calc(100% - vw(18));
			height: vw(18);
		}
		&--border {
			border: 3px solid #fff;
			background-color: transparent !important;
			@include media {
				border: vw(3) solid #fff;
			}
		}
		&--line {
			height: 4px;
			@include media {
				height: vw(4);
			}
		}
		&--circle {
			width: 18px;
			border-radius: 50%;
			@include media {
				width: vw(18);
			}
		}
	}
}
.search {
	&-box {
	}
	&-row {
		margin-bottom: 4px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&-title {
		display: block;
		color: $searchTitle;
		padding: 4px 0;
		@include media {
			padding: vw(4) 0;
		}
		span {
			display: block;
		}
	}
	&-input {
		background-color: $inputBg;
		border: 1px solid $inputBorder;
		border-radius: 6px;
		min-height: 28px;
		padding-left: 4px;
		width: 100%;
		@include media {
			border-radius: vw(6);
			min-height: vw(28);
			padding-left: vw(4);
		}
	}
	&-btn {
		background-color: #183380;
		color: #fff;
		border: none;
		border-radius: 6px;
		padding: 8px 24px;
		line-height: 1;
		align-self: center;
		margin-top: auto;
		cursor: pointer;
		@include media {
			border-radius: vw(6);
			padding: vw(8) vw(24);
		}
	}
}
.pl {
	padding-left: 28px;
	@include media {
		padding-left: vw(28);
	}
}
.red {
	$color: red;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.green {
	$color: green;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.dark-green {
	$color: darkgreen;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.blue {
	$color: blue;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.yellow {
	$color: yellow;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.orange {
	$color: orange;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.gray {
	$color: gray;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.purple {
	$color: purple;
	color: $color;
	background-color: $color;
	border-color: $color;
}
.mCSB_inside > .mCSB_container {
	margin-right: 0;
}
