* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
}

.control-toggle {
  position: fixed;
  top: 66px;
  right: 10px;
  padding: 8px;
  background-color: #000;
  z-index: 99;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 768px) {
  .control-toggle {
    display: block;
    top: 66px;
    right: 10px;
    padding: 8px;
    border-radius: 4px;
  }
}
.control-toggle span {
  display: block;
  background-color: #fff;
  width: 22px;
  height: 3px;
  margin-bottom: 4px;
}
@media screen and (max-width: 768px) {
  .control-toggle span {
    width: 22px;
    height: 3px;
    margin-bottom: 4px;
  }
}
.control-toggle span:last-child {
  margin-bottom: 0;
}

.control {
  position: fixed;
  top: 66px;
  right: 10px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 320px;
  font-size: 14px;
  border-radius: 8px;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-height: 700px) {
  .control.layer {
    height: 100%;
    max-height: calc(100% - 320px);
  }
}
@media screen and (max-width: 768px) {
  .control.layer {
    max-height: none;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .control {
    top: 106px;
    right: 10px;
    display: none;
    min-width: auto;
    max-width: none;
    width: calc(100vw - 20px);
    font-size: 14px;
    border-radius: 8px;
  }
}
.control-tab {
  list-style: none;
  background-color: #292b33;
  color: #fff;
  font-size: 0;
}
.control-tab__li {
  display: inline-block;
  padding: 8px 16px;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .control-tab__li {
    padding: 8px 16px;
  }
}
.control-tab__li.active {
  background-color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 5px #000;
}
@media screen and (max-width: 768px) {
  .control-tab__li.active {
    text-shadow: 1px 1px 5px #000;
  }
}
.control-content {
  position: relative;
  height: 100%;
}
@media screen and (min-width: 768px) and (max-height: 700px) {
  .control-content {
    max-height: calc(100% - 51px);
  }
}
@media screen and (max-width: 768px) {
  .control-content {
    max-height: none;
  }
}

.tab-ul {
  list-style: none;
  color: #fce563;
  width: 80px;
  border-right: 1px dotted #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .tab-ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: none;
    border-bottom: 1px dotted #fff;
    overflow-x: auto;
  }
}
.tab-li {
  padding: 4px 0;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .tab-li {
    padding: 8px 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 6px;
  }
  .tab-li:last-child {
    margin-right: 0;
  }
}
.tab-li.active {
  color: #fff;
}

.content-box {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  display: none;
}
@media screen and (max-width: 768px) {
  .content-box {
    padding: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.content-box.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-box__inner {
  min-width: 260px;
  padding-left: 8px;
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .content-box__inner {
    min-width: 250px;
    padding-left: 8px;
  }
}
.content-box__inner.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layer-collapse__toggle {
  cursor: pointer;
  display: block;
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0;
  border-radius: 4px;
  position: relative;
}
.layer-collapse__toggle:before {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}
.layer-collapse__toggle:after {
  content: "";
  width: 2px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}
.layer-collapse__toggle.on:after {
  content: none;
}
.layer-collapse__content {
  height: 0;
  overflow: hidden;
}
.layer-collapse__content.on {
  height: auto;
}
.layer-row {
  display: grid;
  grid-template-columns: 1fr 60px 60px;
}
@media screen and (max-width: 768px) {
  .layer-row {
    grid-template-columns: 1fr 60px 60px;
  }
}
.layer-col {
  padding: 4px 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .layer-col {
    padding: 4px 0;
  }
}
.layer-col:nth-child(2) {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layer-col:nth-child(3) {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layer-checkbox__label {
  position: relative;
  display: inline-block;
  width: calc(100% - 18px);
  height: 18px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .layer-checkbox__label {
    width: calc(100% - 18px);
    height: 18px;
  }
}
.layer-checkbox__input {
  display: none;
}
.layer-checkbox__input:checked + .layer-checkbox__style {
  background-color: #0e8e00;
}
.layer-checkbox__input:checked + .layer-checkbox__style:before {
  background-color: #fff;
  -webkit-transform: translateX(24px);
      -ms-transform: translateX(24px);
          transform: translateX(24px);
}
@media screen and (max-width: 768px) {
  .layer-checkbox__input:checked + .layer-checkbox__style:before {
    -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
            transform: translateX(24px);
  }
}
.layer-checkbox__style {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 26px;
  background-color: #fff;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .layer-checkbox__style {
    border-radius: 26px;
  }
}
.layer-checkbox__style:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4472c4;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  -webkit-transform: translateX(2px);
      -ms-transform: translateX(2px);
          transform: translateX(2px);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .layer-checkbox__style:before {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
            transform: translateX(2px);
  }
}
.layer-style {
  width: calc(100% - 18px);
  height: 18px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .layer-style {
    width: calc(100% - 18px);
    height: 18px;
  }
}
.layer-style--border {
  border: 3px solid #fff;
  background-color: transparent !important;
}
@media screen and (max-width: 768px) {
  .layer-style--border {
    border: 3px solid #fff;
  }
}
.layer-style--line {
  height: 4px;
}
@media screen and (max-width: 768px) {
  .layer-style--line {
    height: 4px;
  }
}
.layer-style--circle {
  width: 18px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .layer-style--circle {
    width: 18px;
  }
}

.search-row {
  margin-bottom: 4px;
}
.search-row:last-child {
  margin-bottom: 0;
}
.search-title {
  display: block;
  color: #fff;
  padding: 4px 0;
}
@media screen and (max-width: 768px) {
  .search-title {
    padding: 4px 0;
  }
}
.search-title span {
  display: block;
}
.search-input {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  min-height: 28px;
  padding-left: 4px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .search-input {
    border-radius: 6px;
    min-height: 28px;
    padding-left: 4px;
  }
}
.search-btn {
  background-color: #183380;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 24px;
  line-height: 1;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: auto;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .search-btn {
    border-radius: 6px;
    padding: 8px 24px;
  }
}

.pl {
  padding-left: 28px;
}
@media screen and (max-width: 768px) {
  .pl {
    padding-left: 28px;
  }
}

.red {
  color: red;
  background-color: red;
  border-color: red;
}

.green {
  color: green;
  background-color: green;
  border-color: green;
}

.dark-green {
  color: darkgreen;
  background-color: darkgreen;
  border-color: darkgreen;
}

.blue {
  color: blue;
  background-color: blue;
  border-color: blue;
}

.yellow {
  color: yellow;
  background-color: yellow;
  border-color: yellow;
}

.orange {
  color: orange;
  background-color: orange;
  border-color: orange;
}

.gray {
  color: gray;
  background-color: gray;
  border-color: gray;
}

.purple {
  color: purple;
  background-color: purple;
  border-color: purple;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}